<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>管理员首页</title>

    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<!--删除博客提示信息-->
<script type="text/javascript">
    function del() {
        if (confirm("您确定要删除吗？")) {
            return true;
        } else {
            return false;
        }
    }
</script>

<!--引入头部-->
<div class="container" th:include="common/head :: top"></div>

<!--
写博客和模糊查询
<div class="container">

    <form class="form-inline">
        <div class="form-group col-md-3">
            <a class="btn btn-primary btn-sm" th:href="@{/admin/write}" role="button">写博客</a>
        </div>

        &lt;!&ndash; <span></span>

         <div class="form-group col-md-3">
             <label for="f1">类型</label>
             <input type="text" id="f1" name="name" class="form-control" placeholder="请输入类型"/>
         </div>

         <div class="form-group col-md-3">
             <label for="f2">关键字</label>
             <input type="text" id="f2" name="professional" class="form-control" placeholder="请输入关键字"/>
         </div>

         <div class="form-group col-md-3">
             <div class="col-sm-offset-2 col-sm-10">
                 <input type="submit" value="查询" class="btn btn-info"/>
             </div>
         </div>&ndash;&gt;
    </form>

</div>
<br/>-->

<br/>
<br/>
<br/>
<br/>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">


            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <td>编号</td>
                        <td>标题</td>
                        <td>摘要</td>
                        <td>发表时间</td>
                        <td>操作</td>
                    </tr>

                    </thead>
                    <tbody>

                    <tr th:each="article:${pageInfo.list}">
                        <td th:text="${article.aId}"></td>
                        <td th:text="${article.title}"></td>
                        <td  th:text="${article.summary}"></td>
                        <td th:text="${article.createDate}"></td>

                        <td>

                            <a th:href="@{/admin/updateBlog (aId = ${article.aId})}">
                                <button type="button" class="btn btn-sm">修改</button>
                            </a>
                            <label>&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <a onclick="return del()" th:href="@{/admin/delete (aId = ${article.aId})}">
                                <button type="button" class="btn btn-sm">删除</button>
                            </a>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>


<!--<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">

            <table class="table">

                <thead>
                <tr class="info">
                    <td style="width: 150px">编号</td>
                    <td style="width:25%">标题</td>
                    <td style="width:25%">摘要</td>
                    <td>发表时间</td>
                    <td>操作</td>
                </tr>
                </thead>

                </tr>
                <tr>
                </tr>

                <tr th:each="article:${pageInfo.list}">
                    <td style="width: 150px" th:text="${article.aId}"></td>
                    <td style="width:25%" th:text="${article.title}"></td>
                    <td style="width:25%" th:text="${article.summary}"></td>
                    <td th:text="${article.createDate}"></td>

                    <td>

                        <a th:href="@{/admin/updateBlog (aId = ${article.aId})}">
                            <button type="button" class="btn btn-info btn-xs">修改</button>
                        </a>
                        <label>&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <a onclick="return del()" th:href="@{/admin/delete (aId = ${article.aId})}">
                            <button type="button" class="btn btn-danger btn-xs">删除</button>
                        </a>
                    </td>


                </tr>
            </table>


        </div>
    </div>


    <div class="navbar navbar-fixed-bottom">
        <div class="col-xs-5" style="float:left">
            <br/>
            <p>当前 <span th:text="${pageInfo.pageNum}"></span> 页,总 <span th:text="${pageInfo.pages}"></span> 页,共 <span
                    th:text="${pageInfo.total}"></span> 条记录</p>
        </div>
        <div class="col-xs-6">
            <ul class="pagination" style="float:right">
                <li><a th:href="@{/admin/index}">首页</a></li>
                &lt;!&ndash;
                此此出使用三元表达式
                如果有上一页则返回上一页的页码数，否则返回1,表示第一页
                &ndash;&gt;
                <li><a th:href="@{/admin/index/(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">上一页</a>
                </li>
                <li>
                    <a th:href="@{/admin/index/(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">下一页</a>
                </li>
                <li><a th:href="@{/admin/index/(pageNum=${pageInfo.pages})}">尾页</a></li>
            </ul>
        </div>
    </div>
</div>-->


</body>
</html>