<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>首页</title>

    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<!--删除博客提示信息-->
<script type="text/javascript">
    function del() {
        if (confirm("您确定要删除吗？")) {
            return true;
        } else {
            return false;
        }
    }
</script>

<!--引入头部-->
<div class="container" th:include="common/head :: top"></div>

<br/>
<br/>
<br/>
<br/>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">

            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr class="text-center">
                        <th>编号</th>
                        <th>标题</th>
                        <th>摘要</th>
                        <th>发表时间</th>
                        <th>操作</th>
                    </tr>

                    </thead>

                    <tbody>

                    <tr th:each="article:${pageInfo.list}">
                        <td th:text="${article.aId}"></td>
                        <td th:text="${article.title}"></td>
                        <td th:text="${article.summary}"></td>
                        <td th:text="${article.createDate}"></td>
                        <td>
                            <a th:href="@{/admin/updateBlog (aId = ${article.aId})}">
                                <button type="button" class="btn btn-sm">修改</button>
                            </a>
                            <label>&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <a onclick="return del()" th:href="@{/admin/delete (aId = ${article.aId})}">
                                <button type="button" class="btn btn-sm">删除</button>
                            </a>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-6 column">
                <div class="col-xs-5" style="float:left">
                    <br/>
                    <p>当前 <span th:text="${pageInfo.pageNum}"></span> 页,总 <span th:text="${pageInfo.pages}"></span>
                        页,共 <span
                                th:text="${pageInfo.total}"></span> 条记录</p>
                </div>
            </div>


            <div class="col-md-6 column">
                <ul class="pagination" style="float:right">
                    <li><a th:href="@{/admin/index}">首页</a></li>
                    <li>
                        <a th:href="@{/admin/index/(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">上一页</a>
                    </li>
                    <li>
                        <a th:href="@{/admin/index/(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">下一页</a>
                    </li>
                    <li><a th:href="@{/admin/index/(pageNum=${pageInfo.pages})}">尾页</a></li>
                </ul>
            </div>
        </div>
    </div>


</div>

</body>
</html>