<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>首页</title>

    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<!--删除博客提示信息-->
<script type="text/javascript">
    function del() {
        if (confirm("您确定要删除吗？")) {
            return true;
        } else {
            return false;
        }
    }
</script>

<!--ajax异步信息更新-->
<script type="text/javascript">
    function register(obj) {

        //获取博客的id
        var aid = $(obj).attr("name");

        var articleMessage = {
            "aId": aid
        };

        //转换为json格式的字符串
        var datajson = JSON.stringify(articleMessage);

        $.ajax({
            type: "post",//提交方法
            url: "/admin/delete", //地址
            data: datajson,
            //dataType: "json",//预期的服务器响应的类型
            contentType: "application/json;charset=utf-8",//指定json字符串格式

            //注册成功后进入登陆界面
            success: function (result) {
                //此时传递过来的为json对象,通过[]的方式获取value值
                alert(result["errorMessage"]);

                if (result["code"] == "005") {
                    window.location.href = "/admin/index";
                }
            },
            error: function () {
                alert("不好意思，服务器跑到火星去了，登陆异常！");
            }
        });
    }
</script>


<body>
<!--引入头部-->
<div class="container" th:include="common/head :: top"></div>

<br/>
<br/>
<br/>
<br/>

<div class="container">

    <div class="row clearfix">
        <div class="col-md-12 column">

            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr class="text-center">
                        <th width="5%">编号</th>
                        <th width="43%">标题</th>
                        <th width="25%">摘要</th>
                        <th width="14%">发表时间</th>
                        <th width="13%">操作</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="article:${pageInfo.list}">
                        <td width="5%" th:text="${article.aId}"></td>
                        <td width="43%" th:text="${article.title}"></td>
                        <td width="25%" th:text="${article.summary}"></td>
                        <td width="14%" th:text="${article.createDate}"></td>
                        <td width="13%">
                            <a th:href="@{/admin/updateBlog (aId = ${article.aId})}">
                                <button type="button" class="btn btn-sm">修改</button>
                            </a>
                            <label>&nbsp;&nbsp;&nbsp;&nbsp;</label>

                            <a onclick="return del()">
                                <button th:name="${article.aId}" onclick="register(this)" class="btn btn-sm">删除</button>
                            </a>
                        </td>

                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-xs-12 column" align="center">
            <ul class="pagination">
                <li><a th:href="@{/admin/index}">首页</a></li>
                <li>
                    <a th:href="@{/admin/index/(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">上一页</a>
                </li>
                <li>
                    <a th:href="@{/admin/index/(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">下一页</a>
                </li>
                <li><a th:href="@{/admin/index/(pageNum=${pageInfo.pages})}">尾页</a></li>
            </ul>

        </div>
    </div>


</div>


</body>


</html>