<!DOCTYPE html>
<html lang="zh-CN">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>登陆首页</title>

    <!--引入bootstrap和jquery-->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="/bootstrap/css/bootstrap-theme.css " rel="stylesheet"/>
    <link href="/css/signin.css" rel="stylesheet"/>
    <script href="/bootstrap/js/bootstrap.js "></script>
    <script href="/jquery-3.4.1.min.js " type="text/javascript"></script>

</head>
<body>
<div class="container">

    <!--用户信息表单-->
    <form class="form-signin" action="/admin/dologin" method="post">
        <h2 class="form-signin-heading">请登录</h2>

        <label for="inputEmail" class="sr-only">请输入用户名</label>
        <input type="text" id="inputEmail" name="userName" class="form-control" placeholder="用户名" required autofocus>

        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" id="inputPassword" name="UserPassword" class="form-control" placeholder="密码" required>

        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> 记住我
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
    </form>
</div>

</body>
</html>