<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!--会禁用其缩放功能-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 ">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title>注册用户</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery文件.务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<!--ajax异步信息更新-->
<script type="text/javascript">
    function register() {
        //获取用户输入
        var userName = $("#userName").val();
        var password = $("#password").val();

        var user = {
            "userName": userName,
            "password": password
        };

        //转换为json格式的字符串
        var datajson = JSON.stringify(user);

        if (!userName) {
            alert("用户名必填!");
            $("#name").focus();//获取焦点
            return;
        }
        if (!password) {
            alert("密码必填!");
            $("#password").focus();//获取焦点
            return;
        }

        $.ajax({
            type: "post",//提交方法
            url: "/adminUser/toregister",//地址
            data: datajson,
            //dataType: "json",//预期的服务器响应的类型
            contentType: "application/json;charset=utf-8",//指定json字符串格式

            //注册成功后进入登陆界面
            success: function (result) {
                //此时传递过来的为json对象,通过[]的方式获取value值
                alert(result["errorMessage"]);
                if (result["code"] == "001") {
                    window.location.href = "/admin/login";
                }
            },
            error: function () {
                alert("不好意思，服务器跑到火星去了，登陆异常！");
            }
        });
    }
</script>

<body>
<div class="container">

    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>
                    Example page header
                    <small>Subtext for header</small>
                </h1>
            </div>
        </div>
    </div>

    <div class="row clearfix">

        <div class="col-md-6 column">
            <!--描述信息-->
            <div class="jumbotron">
                <h1>
                    Hello, world!
                </h1>
                <p>
                    This is a template for a simple marketing or informational website. It includes a large callout
                    called the hero unit and three supporting pieces of content. Use it as a starting point to create
                    something more unique.
                </p>
                <p>
                    <a class="btn btn-primary btn-large" href="#">Learn more</a>
                </p>
            </div>
        </div>

        <div class="col-md-1 column">
        </div>

        <div class="col-md-5 column">
            <div class="jumbotron">

                <form role="form">
                    <!--用户名-->
                    <div class="form-group">
                        <label for="userName">UserName</label>
                        <input type="text" class="form-control" id="userName" placeholder="0-20个字符,可包含特殊字符!"
                               name="userName"/>
                    </div>
                    <!--
                                        &lt;!&ndash;手机号&ndash;&gt;
                                        <div class="form-group">
                                            <label for="phone">Phone</label>
                                            <input type="text" class="form-control" id="phone" name="phone"/>
                                        </div>-->

                    <!--密码-->
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control"
                               id="password" name="userPassword" placeholder="6-20位,只能且必包含数字和字母,不能以数字开头!"/>
                    </div>

                </form>
                <!--提交按钮-->
                <button onclick="register()" class="btn btn-default">注册</button>
                <p>
                    如果您已注册请<a th:href="@{/admin/login}">登陆</a>
                </p>
            </div>
        </div>

        <div class="col-md-1 column">
        </div>

    </div>
</div>

</body>
</html>


</body>
</html>