<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.blog.dao.ArticleDao">


    <!--sql语句-->
    <sql id="base_sql">
        a_id,title,content,c_id,category_name,display_name,summary,create_date,edit_date
    </sql>


    <!--结果映射-->
    <resultMap id="resultMap" type="com.example.blog.entity.Article">
        <id column="a_id" property="aId" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="summary" property="summary" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="VARCHAR"/>
        <result column="edit-date" property="editDate" jdbcType="VARCHAR"/>

        <!--此处使用连表查询,进行结果结果集的影射-->
        <association property="category" javaType="com.example.blog.entity.Category">
            <id column="c_id" property="cId" jdbcType="VARCHAR"/>

            <result column="category_name" property="categoryName" jdbcType="VARCHAR"/>
            <result column="display_name" property="displayName" jdbcType="VARCHAR"/>
        </association>
    </resultMap>

    <!--查询所有的博客-->
    <select id="selectAll" resultMap="resultMap">
        select
        <include refid="base_sql"/>
        from article,category
        where category = category.c_id;
    </select>


    <!--根据id删除博客-->
    <delete id="deleteBlog">
        delete from article where a_id = #{aId}
    </delete>


    <!--根据id查询博客-->
    <select id="selectById" parameterType="String" resultMap="resultMap">
        select
        <include refid="base_sql"/>
        from article,category
        where a_id = #{aId} and category = category.c_id;
    </select>


    <!--保存博客-->
    <insert id="saveBlog" parameterType="com.example.blog.entity.Article">
        insert into article (a_id,title,content,category,summary,create_date,edit_date)
        values (#{aId,jdbcType=VARCHAR},#{title,jdbcType=VARCHAR},#{content,jdbcType=VARCHAR},#{category.cId,jdbcType=VARCHAR},#{summary,jdbcType=VARCHAR},#{createDate,jdbcType=VARCHAR},#{editDate,jdbcType=VARCHAR})

    </insert>

</mapper>
