<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.blog.dao.UserDao">

    <resultMap id="resultMap" type="com.example.blog.entity.User">

        <id column="uuid" property="uuid" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="user_password" property="userPassword" jdbcType="VARCHAR"/>
        <result column="register_date" property="registerDate" jdbcType="VARCHAR"/>
        <result column="edit_date" property="editDate" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="base_sql">
        uuid,user_name,user_password,register_date,edit_date
    </sql>

    <!--查询用户账号-->
    <select id="selectUserByNP" resultMap="resultMap">
        select
        <include refid="base_sql"/>
        from user
        where user_name = #{userName,jdbcType=VARCHAR} and user_password = #{userPassword,jdbcType=VARCHAR}
    </select>


    <!--注册用户-->
    <insert id="insertUser" parameterType="com.example.blog.entity.User">

        insert into user

        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uuid != null">
                uuid,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="userPassword != null">
                user_password,
            </if>
            <if test="registerDate != null">
                register_date,
            </if>
            <if test="editDate != null">
                edit_date
            </if>
        </trim>

        <trim prefix="value (" suffix=")" prefixOverrides=",">
            <if test="uuid != null">
                #{uuid,jdbcType = VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType = VARCHAR},
            </if>
            <if test="userPassword != null">
                #{userPassword,jdbcType = VARCHAR},
            </if>
            <if test="registerDate != null">
                #{registerDate,jdbcType = VARCHAR},
            </if>
            <if test="editDate != null">
                #{editDate,jdbcType = VARCHAR}
            </if>
        </trim>

    </insert>


</mapper>
