<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>columnPage</title>

    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
<!--引入首部部分-->
<div th:include="common/head :: top"></div>

<br>
<br>
<br>
<br>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="alert alert-success">

                <h4>
                    提示!
                </h4> <strong>警告!</strong>没有搜索到任何内容.
            </div>
        </div>
    </div>
</div>


</body>
</html>